/core/target/
/bin/
.classpath
.project
*.setting
*.class
*.prefs
*.iml
*.log
keystore.p12
/core/src/main/resources/environment.properties
/core/src/test/resources/environment.properties
/README.md
/.idea/
