<!doctype html>
<html ng-app="app">
	<head>
	
		<meta charset="utf-8">
		<title>FlightBuddy</title>
		<link href="css/bootstrap.css" rel="stylesheet">
		<style type="text/css">
			[ng\:cloak], [ng-cloak], .ng-cloak {
			  display: none !important;
			}
		</style>
		<script>
		  document.write('<base href="' + document.location + '" />');
		</script>
		
		<script src="js/libs/angular.js"></script>
		<script src="js/libs/angular-route.min.js"></script>
		<script src="js/libs/ui-bootstrap-tpls.min.js"></script>
		<script src="js/hello.js"></script>
	</head>
	
	<body ng-controller="navigation as navigation" ng-cloak class="ng-cloak">
		<header>
            <nav class="navbar navbar-default">
	            <div class="container">
	                <div class="navbar-header">
	                    <a class="navbar-brand" href="/">FlightBuddy</a>
	                </div>
	
	                <ul class="nav navbar-nav navbar-right">
					      <li ng-class="navClass('home')"><a href='' ng-click="loadHome()">Home</a></li>
					      <li ng-class="navClass('login')"><a href='' ng-click="loadLogin()">Login</a></li>
					      <li ng-show="authenticated"><a href="" ng-click="navigation.logout()">Logout</a></li>
	                </ul>
	            </div>
            </nav>
        </header>

        <div id="main">
			<div ng-view></div>
        </div>
    </body>
</html>