<div class="col-md-1"></div>
<div class="col-md-10">
	<div class="alert alert-danger" ng-show="reg.showMessage">
	    {{reg.message}}
	</div>
	<form role="form" ng-submit="reg.register()">
    	<div class="col-md-4"></div>
    	<div class="col-md-4">
		    <div class="form-group>
		        <label for="username">E-mail address:</label> 
		        <input type="text" class="form-control" id="username" name="username" ng-model="reg.formData.username"/>
		    </div>
		    <div class="form-group>
		        <label for="password">Password:</label> 
		        <input type="password" class="form-control" id="password" name="password" ng-model="reg.formData.password"/>
		    </div>
		    <div class="form-group>
		        <label for="password-repeat">Repeat password:</label> 
		        <input type="password" class="form-control" id="password-repeat" name="password-repeat" ng-model="reg.formData.repeatedPassword"/>
		    </div>
		    <br/>
	    	<button type="submit" class="btn btn-primary">Register</button>
	    </div>
    	<div class="col-md-4"></div>
	</form>
</div>
<div class="col-md-1"></div>